.property-card {
	position: relative;
	width: 357px;
}
.superhost-tag {
	position: absolute;
	top: 8px;
	left: 8px;
	height: 24px;
	padding: 4px 8px;
	display: flex;
	background-color: #20293a;
	border-radius: 5px;
}
.superhost-tag p {
	font-size: 12px;
	color: #f2f9fe;
	margin-right: 2px;
}
.superhost-tag svg {
	height: 16px;
	width: 16px;
}
img {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.card-main-part {
	padding: 20px;
	border-bottom: 2px solid #7e869e40;
	border-left: 2px solid #7e869e40;
	border-right: 2px solid #7e869e40;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.title {
	font-size: 16px;
	margin-bottom: 16px;
	color: #f2f9fe;
}
.description {
	font-size: 14px;
	margin-right: 20px;
	margin-bottom: 16px;
	color: #7e869e40;
}
.house-guest,
.house,
.guest {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #7e869e40;
}
.house-guest {
	padding-bottom: 16px;
	border-bottom: 2px solid #7e869e40;
}
.house-guest p {
	margin-left: 8px;
}
.guest {
	margin-left: 20px;
}
.price-rating {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.price {
	font-size: 20px;
	font-weight: bold;
	color: #f2f9fe;
}
.price-night {
	font-size: 14px;
	color: #7e869e40;
}
.rating-container {
	display: flex;
	align-items: center;
}
.rating {
	margin-left: 8px;
	font-size: 14px;
	color: #f2f9fe;
}
