.background-image {
	width: 100%;
	height: 620px;
	background-image: url("./assets/hero-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.label-motto {
	position: absolute;
	top: 180px;
	left: 140px;
	width: 420px;
	color: #111725;
	z-index: 2;
}
.label {
	font-size: 64px;
	margin-bottom: 8px;
}
.motto {
	font-size: 24px;
}
.background-dark {
	height: fit-content;
	width: 100%;
	background-color: #121826;
}
.filters {
	bottom: -51px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	height: 102px;
	width: fit-content;
	padding: 34px 40px;
	background-color: #22293a;
	z-index: 4;
	display: flex;
	border-radius: 15px;
}
.countries {
	display: flex;
}
.countries > .country + .country {
	margin-left: 12px;
}
.country {
	padding: 8px 12px;
	font-size: 14px;
	color: #f2f9fe;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
.country:hover {
	background-color: #4a5567;
}
.selected {
	background-color: #4a5567;
}
